
body {
    background-color: rgb(222, 205, 253);
   margin-left: auto;
   margin-right: auto;
   padding: 100px 100px 100px 100px ;


}

video {
    width: 55%;
}


h1 {
    text-align: left;
    color: rgb(197, 24, 96);
    font-size: 3.5em;
}

ul {
    font-size: 50px;

}

h2 {
    text-align: center;
    font-size: 3em;
    color: purple;
}

p, ol {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 0.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
    text-align: left;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 0.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 60px;
    padding-left: 100px;
}

p:first-of-type::first-letter {
    float: center;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.1em;
}

.firstSection > img {
  
        width: 10%;
}
.secondSection  > img {

    width: 5px;

    
}

footer > p{
    background-color: rgba(150, 5, 61, 0.815);
    color: aliceblue;
    text-align: left;
    float: ;
}

img {
	position: relative;

	width: 500px;
	border-radius: 100px;
	
	
	
}
